---
import Base from "./base.astro";

const {
  frontmatter: { title, pubDate, description, author, image, tags },
} = Astro.props;
---

<Base pageTitle={title}>
  <h1>{title}</h1>
  <p>{pubDate.toString().slice(0, 10)}</p>
  <p><em>{description}</em></p>
  <p>Written by: {author}</p>
  <img src={image.url} width="300" alt={image.alt} />

  <slot />

  <p>Tags:</p>
  <div class="tags">
    {
      tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</Base>
